campaign-quick-battle
commander-bpo-scattershot
commander-bpo-seep
commander-bpo-shockenaugh
commander-da-builder
commander-da-overclocker
commander-da-speed-demon
commander-ee-fireman
commander-ee-heavy-weapons
commander-ee-marksman
commander-iba-miser
commander-iba-spy
commander-iba-turtle
disable_ammo_decoy
disable_device_sandbags
disable_tech_armoury
disable_tech_factory
disable_tech_munitions
disable_tech_upgrade
disable_tech_workshop
disable_weapon_buzzsaw
disable_weapon_cannon
disable_weapon_cannon20mm
disable_weapon_dome
disable_weapon_firebeam
disable_weapon_flak
disable_weapon_harpoon
disable_weapon_howitzer
disable_weapon_laser
disable_weapon_machinegun
disable_weapon_magnabeam
disable_weapon_minigun
disable_weapon_missile
disable_weapon_missile2
disable_weapon_mortar
disable_weapon_mortar2
disable_weapon_orbital_laser
disable_weapon_rocket
disable_weapon_rocket2
disable_weapon_runway
disable_weapon_runway2
disable_weapon_shotgun
disable_weapon_smokebomb
disable_weapon_sniper
disable_weapon_sniper2
disable_weapon_sublauncher
disable_weapon_subswarm
disable_weapon_turret
easy_aa
example
faction-Asia
faction-BPO
faction-Russia
fast-build
keep-unclaimed
keyboard-AZERTY
keyboard-JCUKEN
keyboard-QWERTY
keyboard-QWERTZ
language-BrazilianPortuguese
language-Chinese
language-English
language-French
language-German
language-Hungarian
language-Italian
language-Japanese
language-Korean
language-Polish
language-Portuguese
language-Russian
language-Slovak
language-Spanish
language-TraditionalChinese
language-Turkish
language-Ukrainian
limit10
limit15
limit20
rapidfire
repair_station
skirmish
smooth-recording
target-self
truce03
truce06
truce09
trucehidesforts
unlimited-energy
unlimited-energy-cap
unlimited-metal
unlimited-metal-cap
unlock-all-weapons
weapon_pack
weapon_pack_skirmish
windy
zerogravity
